.w100, .w100 input, .w100 ._has-datepicker.admin__control-text, .w100 select {
    width: 100%;
}
.w100 {
    padding-right: 10px;
}
.p-0 {
    padding:0;
}
.m-0 {
    margin: 0;
}
.no-style {
    list-style: none;
}
#venipak-track-order-modal td, #venipak-track-order-modal th {
    padding: 5px;
}
#venipak-track-order-modal table {
    margin-bottom: 20px;
}
.modal-popup.confirm.error .modal-inner-wrap {
    background-color: #fdc4c4;
}
.modal-popup.confirm.success .modal-inner-wrap {
    background-color: #b8d08b;
}