<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <venipak>
                <shipment_requesttype>0</shipment_requesttype>
                <active>0</active>
                <shop_id>0</shop_id>
                <sallowspecific>0</sallowspecific>
                <allowed_methods>COURIER,PICKUP_POINT</allowed_methods>
                <cutoff_cost />
                <handling>0</handling>
                <model>Mijora\Venipak\Model\Carrier</model>
                <title>Venipak</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <unit_of_measure>KG</unit_of_measure>
                <max_package_weight>150</max_package_weight>
                <price>0</price>
                <active_rma>0</active_rma>
                <is_online>1</is_online>
                <return_days>14</return_days>
                <api_test_url>https://venipak.uat.megodata.com/</api_test_url>
                <api_prod_url>https://go.venipak.lt/</api_prod_url>
            </venipak>
        </carriers>
    </default>
</config>
